# PANDAS

In [19]:
import pandas as pd

# PANDAS SERIES

In [3]:
personas_ = pd.Series(["Pedro", "Paco", "Luis", "Rodolfo"],
          index=[1, 3, 7, 10]
         )
personas

1       Pedro
3        Paco
7        Luis
10    Rodolfo
dtype: object

In [4]:
personas = pd.Series(["Pedro", "Paco", "Luis", "Rodolfo"])
personas

0      Pedro
1       Paco
2       Luis
3    Rodolfo
dtype: object

In [27]:
# Especificando un índice personalizado (etiqueta a cada valor)
pd.Series(range(1, 4), index=['a', 'b', 'c'])

a    1
b    2
c    3
dtype: int64

In [28]:
# Especificando un diccionario con etiquetas y valores
items = {'a': 1, 'b': 2, 'c': 3}
pd.Series(items)

a    1
b    2
c    3
dtype: int64

In [29]:
pd.Series([1, 2, 3], name='integers')

0    1
1    2
2    3
Name: integers, dtype: int64

In [31]:
data = {
    'Apple': 147000,
    'Samsung': 267937,
    'Google': 135301,
    'Microsoft': 163000,
    'Huawei': 197000,
    'Dell': 158000,
    'Facebook': 58604,
    'Foxconn': 878429,
    'Sony': 109700
}

In [32]:
employees = pd.Series(data, name='Tech Employees')
employees

Apple        147000
Samsung      267937
Google       135301
Microsoft    163000
Huawei       197000
Dell         158000
Facebook      58604
Foxconn      878429
Sony         109700
Name: Tech Employees, dtype: int64

In [33]:
employees.index

Index(['Apple', 'Samsung', 'Google', 'Microsoft', 'Huawei', 'Dell', 'Facebook',
       'Foxconn', 'Sony'],
      dtype='object')

In [34]:
employees.values

array([147000, 267937, 135301, 163000, 197000, 158000,  58604, 878429,
       109700])

In [35]:
# Tipo de la serie
employees.dtype

dtype('int64')

In [36]:
# Nombre de la serie
employees.name

'Tech Employees'

In [37]:
# Memoria ocupada por la serie
employees.nbytes

72

In [38]:
# Número de registros de la serie
employees.size

9

#### Seleccionar por indice

In [40]:
employees

Apple        147000
Samsung      267937
Google       135301
Microsoft    163000
Huawei       197000
Dell         158000
Facebook      58604
Foxconn      878429
Sony         109700
Name: Tech Employees, dtype: int64

In [41]:
employees[0]

147000

In [42]:
employees[-1]

109700

In [43]:
employees[2:5]

Google       135301
Microsoft    163000
Huawei       197000
Name: Tech Employees, dtype: int64

In [45]:
employees[0:8:2]

Apple       147000
Google      135301
Huawei      197000
Facebook     58604
Name: Tech Employees, dtype: int64

In [46]:
employees.iloc[0:8:2]

Apple       147000
Google      135301
Huawei      197000
Facebook     58604
Name: Tech Employees, dtype: int64

#### Sleccionar por etiqueta

In [48]:
employees

Apple        147000
Samsung      267937
Google       135301
Microsoft    163000
Huawei       197000
Dell         158000
Facebook      58604
Foxconn      878429
Sony         109700
Name: Tech Employees, dtype: int64

In [49]:
employees["Apple"]

147000

In [51]:
employees["Apple":"Huawei"]

Apple        147000
Samsung      267937
Google       135301
Microsoft    163000
Huawei       197000
Name: Tech Employees, dtype: int64

#### head y tail

In [52]:
employees.head(3)

Apple      147000
Samsung    267937
Google     135301
Name: Tech Employees, dtype: int64

In [53]:
employees.tail(2)

Foxconn    878429
Sony       109700
Name: Tech Employees, dtype: int64

### OPERACIONES CON LAS SERIES

In [54]:
employees

Apple        147000
Samsung      267937
Google       135301
Microsoft    163000
Huawei       197000
Dell         158000
Facebook      58604
Foxconn      878429
Sony         109700
Name: Tech Employees, dtype: int64

In [55]:
employees > 200_000

Apple        False
Samsung       True
Google       False
Microsoft    False
Huawei       False
Dell         False
Facebook     False
Foxconn       True
Sony         False
Name: Tech Employees, dtype: bool

Mostrar las empresas con mas de 200,000 empleados

In [56]:
employees[employees > 200_000]

Samsung    267937
Foxconn    878429
Name: Tech Employees, dtype: int64

### ORDENACION POR VALORES

In [57]:
employees.sort_values()

Facebook      58604
Sony         109700
Google       135301
Apple        147000
Dell         158000
Microsoft    163000
Huawei       197000
Samsung      267937
Foxconn      878429
Name: Tech Employees, dtype: int64

In [67]:
employees.sort_values(ascending=True)

Facebook      58604
Sony         109700
Google       135301
Apple        147000
Dell         158000
Microsoft    163000
Huawei       197000
Samsung      267937
Foxconn      878429
Name: Tech Employees, dtype: int64

### ORDENACION POR INDICE

In [58]:
employees.sort_index()

Apple        147000
Dell         158000
Facebook      58604
Foxconn      878429
Google       135301
Huawei       197000
Microsoft    163000
Samsung      267937
Sony         109700
Name: Tech Employees, dtype: int64

In [5]:
dict = {1: "Pedro", 4: "Paco", 8: "Luis", 60: "Rodolfo"}
pd.Series(dict)

1       Pedro
4        Paco
8        Luis
60    Rodolfo
dtype: object

In [6]:
personas

0      Pedro
1       Paco
2       Luis
3    Rodolfo
dtype: object

# DATA FRAME

In [20]:
dict_0 = {"Jugador": ["Pedro", "Paco", "Luis", "Rodolfo"],
 "Altura:": [1.79, 1.89, 1.80, 1.79],
 "Goles": [23, 43, 23, 67]
}

In [22]:
df_personas = pd.DataFrame(dict_0, index=[1, 3, 7, 10])
df_personas

    Jugador  Altura:  Goles
1     Pedro     1.79     23
3      Paco     1.89     43
7      Luis     1.80     23
10  Rodolfo     1.79     67

Mostrar columnas

In [23]:
df_personas.columns

Index(['Jugador', 'Altura:', 'Goles'], dtype='object')

Mostrar indices

In [24]:
df_personas.index

Index([1, 3, 7, 10], dtype='int64')